.coda {
  margin-top: 6.25rem;
  margin-bottom: 1rem;

  .h1 {
    margin-bottom: 2.875rem;
  }

  &__image {
    margin-bottom: 2.5rem;
  }

  .btn-responsive {
    @include media-breakpoint-down(xl) {
      margin-bottom: 5.375rem;
      width: 30rem;
    }
  }
}