.intro-section {
  padding: 3.5rem 0 4rem;

  .btn {
    max-width: 11.25rem;
  }

  &__content-wrapper {
    margin: 0 auto 2.5rem;
    max-width: 100%;
    width: 80%;

    @include media-breakpoint-up(md) {
      width: 100%;
    }
  }
}