{% assign urls = site.data.urls %}

<div class="footer">
  <div class="container-fluid">
    <div class="row d-none d-md-flex">
      <div class="footer__list col-xl-2 col-lg-3 col-md-3 col-sm-6 col-6">
        <h6 class="footer__list-head">Organize</h6>
        <div class="footer__list-item">
          <a href="{{ urls.discourse.endpoint }}">Community</a>
        </div>
      </div>
      <div class="footer__list col-lg-2 col-md-3 col-sm-6 col-6">
        <h6 class="footer__list-head">Take Action</h6>
        <div class="footer__list-item">
          <a
            href="{{
              urls.discourse.endpoint | append: urls.discourse.paths.events
            }}"
            >Events</a
          >
        </div>
        <div class="footer__list-item">
          <a
            href="{{
              urls.dispute - tools.endpoint
                | append: urls.dispute - tools.paths.dispute - tools
            }}"
          >
            Dispute your Debt
          </a>
        </div>
      </div>
      <div class="footer__list col-lg-2 col-md-3 col-sm-6 col-6">
        <h6 class="footer__list-head">Learn</h6>
        <div class="footer__list-item">
          <a href="{{ urls.power - report.endpoint }}">The Power Report</a>
        </div>
        <div class="footer__list-item">
          <a href="/#about" data-toggle="collapse" data-target="#hidden-text"
            >About Us</a
          >
        </div>
        <div class="footer__list-item">
          <a href="{{ urls.wiki.endpoint }}">Community Wiki</a>
        </div>
      </div>
      <div class="footer__list col-lg-2 col-md-3 col-sm-6 col-6">
        <h6 class="footer__list-head">More</h6>
        <div class="footer__list-item">
          <a
            href="{{
              urls.dispute - tools.endpoint
                | append: urls.dispute - tools.paths.contact
            }}"
            >Contact</a
          >
        </div>
        <div class="footer__list-item">
          <a
            href="{{
              urls.dispute - tools.endpoint
                | append: urls.dispute - tools.paths.donate
            }}"
            >Donate</a
          >
        </div>
        <div class="footer__list-item">
          <a href="{{ urls.repository.endpoint }}">Open Source</a>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-2 col-lg-3 col-md-4 d-none d-md-flex">
        <a href="/">
          <img
            alt="The Debt Collective"
            src="{{ urls.footer.logo }}"
            height="60"
            width="175"
          />
        </a>
      </div>
      <div class="col-xl-10 col-lg-9 col-md-8 col-sm-12 col-12 pt-3">
        <div class="footer__brand">
          <a href="#top" class="d-md-none back-to-top">Back to top</a>
          <div class="brand-text copyright">
            Copyright {{ "now" | date: "%Y" }}
          </div>
          <div class="brand-text tos">
            <a
              href="{{
                urls.discourse.endpoint | append: urls.discourse.paths.tos
              }}"
            >
              Terms and Conditions
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
