{% assign discourse = site.discourse %}

<div id="debt-collective-header"></div>
<script>;Vue.component(DebtCollectiveHeader.name,DebtCollectiveHeader);new Vue({el:'#debt-collective-header',render:function(h){return h('debt-collective-header',{attrs:{
          'header-links': [
            { href: '{{ discourse.endpoint | append: discourse.paths.collectives }}',
              text: 'Collectives' },
            { href: '{{ discourse.endpoint | append: discourse.campaigns }}', text: 'Campaigns' },
            { href: '{{ discourse.endpoint | append: discourse.paths.events }}', text: 'Events' },
          ],
          'dropdown-links': [
            { href: '{{ discourse.endpoint | append: discourse.paths.events }}', text: 'Events' }
          ],
          'discourse-endpoint': '{{ discourse.endpoint }}'}})}});</script>
