{% assign urls = site.data.urls %}

<div id="debt-collective-header"></div>
<script>
  Vue.component(DebtCollectiveHeader.name, DebtCollectiveHeader);
  new Vue({
    el: "#debt-collective-header",
    render: function(h) {
      return h("debt-collective-header", {
        attrs: {
          "header-links": [
            {
              href: "{{ urls.dispute-tools.endpoint }}",
              text: "Dispute Your Debt"
            },
            { href: "{{ urls.discourse.endpoint }}", text: "Community" },
            { href: "{{ urls.discourse.endpoint }}", text: "Events" },
            {
              href: "{{ urls.power-report.endpoint }}",
              text: "The Power Report"
            },
            { href: "http://tools.debtcollective.org/donate", text: "Donate" }
          ],
          "dropdown-links": [
            { href: "/#about", text: "About the Debt Collective" }
          ],
          "discourse-endpoint": "{{ urls.discourse.endpoint }}"
        }
      });
    }
  });
</script>
