{% assign urls = site.data.urls %}

<header id="debt-collective-header" class="header fixed-top">
  <div class="container-odd">
    <div class="row">
      <div class="col-3 col-lg-3 d-xl-none">
        <div class="header-col justify-content-start">
          <div id="menu-trigger" class="menu-trigger" role="button">
            <span class="menu-stripe" />
          </div>
        </div>
      </div>
      <div class="col-6 col-lg-6 col-xl-9">
        <div class="header-col justify-content-xl-start">
          <img class="logo" src="/assets/images/logo.png" width="100%" />
          <div class="d-none d-xl-flex">
            <ul class="nav align-items-center" role="navigation">
              <li class="nav-item">
                <a class="nav-link" href="{{ urls.dispute-tools.endpoint }}">Dispute Your Debt</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ urls.discourse.endpoint }}">Community</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ urls.power-report.endpoint }}">The Power Report</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ urls.donate.endpoint }}">Donate</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-3 col-lg-3">
        <div class="header-col justify-content-end">
          <!-- >= lg -->
          <a href="{{ urls.discourse.endpoint }}/login" role="button" class="btn btn-session btn-lg btn-outline-dark d-none d-xl-block">Sign up</a>
          <!-- >= md -->
          <a href="{{ urls.discourse.endpoint }}/login" role="button" class="btn btn-session btn-primary btn-lg d-none d-md-block">Login</a>
          <!-- small -->
          <a href="{{ urls.discourse.endpoint }}/login" role="button" class="btn btn-session btn-primary btn-sm d-md-none d-xs-block d-sm-block">Login</a>
        </div>
      </div>
    </div>
  </div>
</header>

<div id="slider-nav" class="slider-nav d-xl-none">
  <ul class="nav flex-column" role="navigation">
    <li class="nav-item">
      <a class="nav-link" href="{{ urls.dispute-tools.endpoint }}">Dispute Your Debt</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ urls.discourse.endpoint }}">Community</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ urls.power-report.endpoint }}">The Power Report</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ urls.donate.endpoint }}">Donate</a>
    </li>
  </ul>
</div>

<script>
  $(window).on('scroll', function () {
    var $header = $("#debt-collective-header");
    
    if (!$header.hasClass('slider-nav-open')) {
      $header.toggleClass('active', $(window).scrollTop() > $header.height());
    }
  });

  $('#menu-trigger').on('click', function () {
    var $nav = $("#slider-nav");
    var $header = $("#debt-collective-header");
    
    $header.toggleClass('active');
    $header.toggleClass('slider-nav-open');
    $nav.toggleClass('slider-nav-open');
  });
</script>