html,
body {
  height: 100%;
}

main,
.page-content {
  position: relative;
}

.background-effect-top {
  height: 50%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  background: linear-gradient(
    125.85deg,
    #dbf8ff 15.46%,
    #f6faf8 45.89%,
    #fcfbf7 81.18%
  );
}

.background-effect-bottom {
  height: 50%;
  bottom: 0;
  position: absolute;
  left: 0;
  width: 100%;
  background: linear-gradient(0deg, #dbf8ff 0%, #f6faf8 46.3%, #fcfbf7 100%);
}

.page-content {
  padding-bottom: 4rem;

  @include media-breakpoint-up(md) {
    padding-bottom: 12rem;
  }
}

.header-gap {
  padding-top: $header-height;
}
