html {
  height: 100%;
}

body {
  height: 100%;
  overflow-x: hidden;
  background: linear-gradient($bg-blue, $white 1000px), url(https://s3.amazonaws.com/tds-static/img/debtcollective/0.0.1/bg-tile.png);
  background-repeat: no-repeat, repeat;
}

.wrapper {
  /* all the following defines the white-blue fade at the bottom of the page */
  background-image: linear-gradient($white, $bg-blue);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100% 30%;
  width: 100%;
  margin-bottom: -3em;
  padding-bottom: 3em;
}

.landing-image {
  background-image: url("../assets/images/landing-image.png");
  background-repeat: no-repeat;
}

.small-intro {
  .landing-image {
    width: 100%;
    height: 25rem;
    background-size: auto 34rem;
    background-position: 50% -6rem;
  }

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 1.625rem;
  }

  p {
    font-size: 1rem;
    line-height: 1.25rem;
  }
}

.medium-intro {
  .landing-image {
    background-size: auto 145%;
    background-position-y: -4.5rem;
    background-position-x: 50%;
  }
}

.large-intro {
  .landing-image {
    margin-left: -5rem;
    background-position-y: -10rem;
    background-size: cover;
  }
}

#learn-more {
  .learn-more-image {
    height: 10rem;
    width: 10rem;
    margin: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  h3 {
    white-space: nowrap;
  }

  p {
    min-height: 4rem;
  }
}

#sign-up {
  background-color: $text-0;
  color: $white;
  text-align: center;
  padding: 3rem 100%;
  margin: 3rem -100%;

  a {
    width: 40%;
  }
}

.landing {
  padding-top: 6rem;

  a {
    width: 100%
  };

  h1 {
    width: 1px; // forces the words to be on different lines
  };

  #join {
    margin-top: 4rem;
  };

  .intro p:first-of-type {
    margin-top: 1.8rem;
    margin-bottom: 1.4rem;
    font-weight: 600;
  }
}

a {
  margin: auto auto 2rem auto;
}

#coda {
  #coda-image {
    min-height: 300px;
    background-image: url("../assets/images/coda-image.png");
    background-size: contain;
  }

  .caption-wrapper::before {
    font-size: 3rem;
    content: '\201C';
  }

  .caption {
    display: block;
    margin: -2.5rem 0 0 1.5rem;
    font-size: 1.5em;
  }

  button {
   width: 80%;
  }
}
