html {
  height: 100%;
}

body {
  height: 100%;
  overflow-x: hidden;
  background: linear-gradient($bg-blue, $white 1000px), url(https://s3.amazonaws.com/tds-static/img/debtcollective/0.0.1/bg-tile.png);
  background-repeat: no-repeat, repeat;
}

.wrapper {
  /* all the following defines the white-blue fade at the bottom of the page */
  background-image: linear-gradient($white, $bg-blue);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100% 30%;
  width: 100%;
  margin-bottom: -3em;
  padding-bottom: 3em;
}

#landing-image {
  background-image: url("../assets/images/landing-green-red-long.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: -5em;
}

.learn-more-image {
  display: block;
  width: 50%;
  margin: 0 auto;
  height: auto;
}

#placeholder-image {
  width: 100%;
  height: auto;
  min-height: 300px;
}

#sign-up {
  background-color: $text-0;
  color: $white;
  text-align: center;
  padding: 3rem 0;
  margin: 3rem -100%;

  button {
    width: 10%;
  }
}

.landing {
  padding-top: 6rem;

  button {
    width: 100%
  };

  h1 {
    line-height: .7em;
  };

  h1:after {
    content: ".";
  };

  #join {
    margin-top: 7rem;
  };

  h3:after {
    content: "."
  }

  p:first-of-type {
    margin-top: 3rem;
  }

}