.header {
  $active-proportion: 0.7;

  border-bottom: 0.0625rem solid transparent;
  display: flex;
  flex-direction: column;
  height: $header-height-sm;
  justify-content: center;
  transition: all 0.216s ease;
  transition-delay: 0.216s;
  
  &-col {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
  }

  &.slider-nav-open {
    transition-delay: 0s;
  }
  
  &.active {
    background: $beige; 
    border-color: $grey-2;
    height: $header-height-sm * $active-proportion;

    .logo {
      transform: unquote("scale(#{$active-proportion})");
    }
  }

  .logo {
    width: 8.5rem;
    transition: all 0.216s ease;
  }

  .nav {
    margin-left: 2.5rem;
  }

  @include media-breakpoint-up(md) {
    height: $header-height-md;

    &.active {
      height: $header-height-md * $active-proportion;
    }
    
    .logo {
      width: 12rem;
    }
  }

  @include media-breakpoint-up(xl) {
    .logo {
      width: 10rem;
      position: relative;
      // fix visual effect with logo text and navigation text
      top: 0.125rem;
    }

    &.active {
      height: 4.5rem;

      .logo {
        transform: scale(0.9);
      }
    }
  }

  // As the design suggest unstandard containers we need to add extra paddings
  // to find a middle ground between the heterogeneous containers and trying to keep
  // bootstrap styles clean
  @include media-breakpoint-only(lg) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.btn-session {
  @include media-breakpoint-up(md) {
    width: 11.25rem;
  }

  @include media-breakpoint-up(xl) {
    width: 9.5rem;
  }

  & + & {
    margin-left: 1.5rem;
  }
}