.header {
  display: flex;
  flex-direction: column;
  height: $header-height;
  justify-content: center;
  transition: all 0.216s ease;
  
  &-col {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
  }

  .logo {
    width: 8.5rem;
    transition: all 0.216s ease;
  }
  
  &.active {
    $proportion: 0.8;
    background: $beige; 
    border-bottom: 0.0625rem solid $grey-2;
    height: $header-height * $proportion;

    .logo {
      transform: unquote("scale(#{$proportion})");
    }
  }
}