.subtitle {
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: 600;
}

.h1 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1;
  
  &.lead-variant {
    font-size: 4rem;
    font-family: "More Gothic Bold", Impact, sans-serif;
    text-transform: uppercase;
  }
}

.h2 {
  font-weight: 600;
  font-size: 1.375rem;
  line-height: 1.2;
}

.h1,
.h2,
.h3,
.h4,
.p {
  &.breaked {
    // forces the words to be on different lines
    width: 1px;
  }
}