<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include gtm.html -%}

    {%- include header.html -%}

    <main id="top">
      <div class="page-content header-gap">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

    <dc-popup hero="End Student Debt! Join the Fight!">
      <b>We are on strike!</b> Join us as we fight for full student debt
      cancellation and free college for all.
    </dc-popup>
  </body>

</html>
